*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #ffffff;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-VariableFont_wght.woff') format('woff');
}
@font-face {
    font-family: 'Aron';
    src: url('../../fonts/Aron-ExtraBold-BF6556dd3e2d89f.woff') format('woff');
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1130px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Aron';
    position: relative;
}
.menu-toggle {
    display: none;
    font-size: 40px;
    cursor: pointer;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    list-style: none;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s ease-in-out;
    font-family: 'Aron';
}
.sidebar a:hover {
    color: #FF4500;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 46px;
    margin-left: 50px;
}
header img{
    width: 170px;
}
header a{
    text-decoration: none;
}
header button{
    position: relative;
    padding: 10px 20px;
    width: 135px;
    height: 50px;
    border: 3px solid #FF4500;
    border-radius: 10px;
    font-family: 'Aron';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.5s ease-in-out, color 0.5s;
}
header button:hover {
    background-color: #FF4500;
    color: #fff;
}

header button:hover::before {
    left: 100%;
    transition: left 0.5s;
    animation: lightbeam 0.5s forwards;
}
header button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transform: skewX(-25deg);
    transition: left 0.5s;
}
nav{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    font-size: 16px;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
}
.closebtn{
    cursor: pointer;
}
#home{
    height: 100dvh;
}
#home .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    height: 80dvh;
}
#home .info{
    width: 100%;
}
#home .info h2{
    color: #FF4500;
    font-family: 'Aron';
    font-size: 16px;
}
#home .info h1{
    font-family: 'Orbitron';
    font-size: 48px;
    color: #006994;
    font-weight: bold;
    margin-bottom: 10px;
    width: 600px;
}
#home .info p{
    color: black;
    font-family: 'Aron';
    font-size: 16px;
    margin-bottom: 25px;
    width: 450px;
}
#home .info button{
    position: relative;
    padding: 10px 20px;
    width: 70%;
    height: 45px;
    background: linear-gradient(to right, #EF5A23, #CF4D1D);
    color: white;
    font-family: 'Aron';
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
#home .img{
    margin: 0 auto;
    position: relative;
    left: 0%;
}
#home .img-mobile{
    display: none;
}
.float2 {
    animation: float 2s ease-in-out infinite;
}
.float {
    animation: float 6s ease-in-out infinite;
}
#home .info button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: skewX(-25deg);
    transition: left 0.5s;
    animation: lightbeam 2s infinite;
}
#home .mouse{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#servicos{
    background-color: #006994;
    height: 900px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
#servicos .info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
}
#servicos .info h2{
    color: #ffffff;
    font-family: 'Aron';
    font-size: 16px;
}
#servicos .info h1{
    font-family: 'Orbitron';
    font-size: 48px;
    color: #98FF98;
    font-weight: bold;
    margin-bottom: 10px;
    width: 700px;
}
#servicos .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 1000px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#servicos .card{
    background-color: white;
    width: 300px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}
#servicos .card .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#servicos .card h2{
    font-family: 'Orbitron';
    font-weight: normal;
    margin-bottom: 8px;
    width: 200px;
    font-size: 21px;
}
#servicos .card p{
    font-family: 'Aron';
    font-size: 12px;
}
#como{
    height: 900px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#como .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 1100px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#como .info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
}
#como .info h1{
    font-family: 'Orbitron';
    font-size: 44px;
    color: #006994;
    font-weight: bold;
    margin-bottom: 10px;
    width: 1000px;
}
#como .card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}
#como .card h3{
    font-family: 'Orbitron';
    font-size: 20px;
}
#como .card p{
    font-family: 'Aron';
    font-size: 13px;
    width: 350px;
}
#como .icon-como{
    background: linear-gradient(to right, #EF5A23, #992900);
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#como .btn{
    margin: 100px auto;
    display: flex;
    justify-content: end;
    align-items: end;
}
#como .btn button{
    position: relative;
    padding: 10px 20px;
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, #EF5A23, #CF4D1D);
    color: white;
    font-family: 'Aron';
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
#como .btn button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: skewX(-25deg);
    transition: left 0.5s;
    animation: lightbeam 2s infinite;
}
#numeros{
    background-color: #006994;
    height: 30dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#numeros .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#numeros .card img{
    animation: grow 2s infinite alternate;
}
#numeros .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
#numeros .card h2{
    font-size: 45px;
    color: white;
    font-family: 'Orbitron';
    margin-bottom: 5px;
}
#numeros .card p{
    font-family: 'Aron';
    color: #D8D8D8;
    max-width: 150px;
}
#portfolio{
    margin: 150px auto;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#portfolio .info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
}
#portfolio .info h2{
    color: #FF4500;
    font-family: 'Aron';
    font-size: 16px;
}
#portfolio .info h1{
    font-family: 'Orbitron';
    font-size: 40px;
    color: #006994;
    font-weight: bold;
    margin-bottom: 10px;
    width: 700px;
}
#portfolio .container{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
#portfolio .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#portfolio .card h4{
    font-family: 'Orbitron';
    font-size: 30px;
    font-weight: 400;
}
#portfolio .card img{
    width: 560px;
}

#portfolio .card button{
    position: relative;
    padding: 10px 20px;
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, #EF5A23, #CF4D1D);
    color: white;
    font-family: 'Aron';
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
#vamos{
    background-color: #006994;
    height: 40dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#vamos .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
#vamos .container h1{
    color: white;
    font-family: 'Orbitron';
    font-size: 40px;
    width: 700px;
    text-align: center;
    margin-bottom: 20px;
}
#vamos .container button{
    position: relative;
    padding: 10px 20px;
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, #EF5A23, #CF4D1D);
    color: white;
    font-family: 'Aron';
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
#faq{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    margin: 0 auto;
}
#faq .container {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

#faq h1 {
    text-align: center;
    color: #005b7f;
    width: 600px;
    font-size: 40px;
    font-family: 'Orbitron';
    text-align: center;
    margin-bottom: 20px;
}

#faq .faq-item {
    border: 2px solid #FF4500;
    border-radius: 8px;
    margin: 10px 0;
    overflow: hidden;
}

#faq .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    color: #005b7f;
    font-family: 'Aron';
}

#faq .faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

#faq .faq-answer p {
    margin: 0 auto;
    font-family: 'Aron';
    color: #383838;
}

#faq .arrow {
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

#faq .faq-item.open .faq-answer {
    max-height: 250px;
    padding-left: 20px;
    margin-bottom: 20px;
}

#faq .faq-item.open .arrow {
    transform: rotate(180deg);
}
#sobre{
    background-color: #006994;
    width: 100%;
    height: 650px;
}
#sobre .container{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
#sobre .container-dir h1{
    font-size: 40px;
    font-family: 'Orbitron';
    color: white;
    margin-bottom: 10px;
}
#sobre .container-dir h2{
    font-size: 16px;
    color: #98FF98;
    font-family: 'Aron';
    margin-bottom: 14px;
}
#sobre .container-dir p{
    color: white;
    font-size: 17px;
    font-family: 'Aron';
    width: 420px;
    margin-bottom: 5px;
}
#sobre .container-dir button{
    position: relative;
    padding: 10px 20px;
    width: 80%;
    height: 45px;
    background: linear-gradient(to right, #EF5A23, #CF4D1D);
    color: white;
    font-family: 'Aron';
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}
#final{
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
#final .container{
    width: 1000px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
#final .card{
    border: 2px solid #FF4500;
    height: 350px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#final .card h1{
    font-family: 'Orbitron';
    color: #006994;
    font-size: 40px;
    width: 600px;
    text-align: center;
    margin-bottom: 10px;
}
#final .card p{
    color: black;
    font-size: 15px;
    font-family: 'Aron';
    width: 500px;
    margin-bottom: 15px;
}
#final .card button{
    position: relative;
    padding: 10px 20px;
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, #EF5A23, #CF4D1D);
    color: white;
    font-family: 'Aron';
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
#final .card button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: skewX(-25deg);
    transition: left 0.5s;
    animation: lightbeam 2s infinite;
}
footer{
    height: 15dvh;
}
footer .container{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
footer .meio p{
    font-family: 'Aron';
}
footer .dir img{
    transition: all 0.5s ease-in-out;
}
footer .dir img:hover{
    transform: translateY(-7px);
}
@keyframes lightbeam {
    0% {
    left: -100%;
    }
    100% {
    left: 100%;
    }
}
@keyframes float2 {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-10px);
    }
    100% {
    transform: translateY(0);
    }
}
@keyframes float {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-10px);
    }
    100% {
    transform: translateY(0);
    }
}
@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
@media (max-width: 575.98px){
    .menu-toggle {
        display: block;
    }
    header nav, .icon-links {
        display: none;
    }
    header{
        width: 100%;
    }
    header img{
        width: 130px;
        height: 46px;
    }
    header button{
        display: none;
    }
    #home{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
    #home .info{
        width: 80%;
        margin: 0 auto;
    }
    #home .container{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    #home .info h1{
        font-size: 30px;
        width: 100%;
        font-weight: bold;
    }
    #home .info h2{
        font-size: 13px;
    }
    #home .info p{
        font-size: 13px;
        width: 100%;
    }
    #home .info button{
        width: 100%;
        font-size: 12px;
    }
    #home .mouse{
        position: relative;
        top: 50%;
        left: -43%;
    }
    #home .mouse img{
        width: 33px;
    }
    #home .img-desk{
        position: relative;
        left: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    #home .img{
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0 auto;
    }
    #home .img img{
        width: 100%;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
    }
    #servicos{
        height: 1990px;
        margin: 50px auto;
    }
    #servicos .container{
        width: 300px;
        grid-template-columns: 1fr;
    }
    #servicos .info{
        margin: 50px auto;
        text-align: center;
        width: 300px;
    }
    #servicos .info h1{
        font-size: 30px;
        width: 350px;
    }
    #servicos .info h2{
        font-size: 12px;
        width: 250px;
        margin-bottom: 8px;
    }
    #como{
        margin: 50px auto;
    }
    #como .info{
        width: 90%;
        justify-content: center;
    }
    #como .info h1{
        font-size: 28px;
        text-align: center;
        width: 100%;
    }
    #como .container{
        grid-template-columns: 1fr 1fr;
        width: 93%;
        gap: 5px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    #como .card h3{
        font-family: 'Orbitron';
        font-size: 14px;
        width: 100%;
    }
    #como .card p{
        font-family: 'Aron';
        font-size: 12px;
        width: 100%;
    }
    #como .card{
        gap: 10px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
    }
    #como .icon-como{
        width: 100%;
        position: relative;
        right: 0%;
    }
    #numeros{
        width: 100%;
    }
    #numeros .container{
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    #numeros .card img{
        width: 40px;
    }
    #numeros .card h2{
        font-size: 30px;
    }
    #numeros .card p{
        font-size: 11px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
}
@media (min-width: 768px) and (max-width: 991.98px){
}
@media (min-width: 992) and (max-width: 1199.98px) {

}
@media (min-width: 1200px) and (max-width: 1399.98px) {

}
@media (min-width: 1400px) {

}